libs/
node_modules/
.DS_Store
.idea
.project
.svn

# bem
.enb/tmp/
*bundles*/*/*.*
!*bundles*/*/*.bemdecl.js
*bundles*/*/*.*.bemdecl.js
*pages*/*/*.*
!*pages*/*/*.bemdecl.js
!*pages*/.bem/*

# blog
!/content/config.json
!/content/i18n.json
dist
